#masthead h1 {
  font-size: 32px;
}
#masthead h2 {
  font-size: 18px;
}

@media (max-width: 767px) {
  #masthead {
    padding-top: 100px;
  }
}
@media (min-width: 768px) {
  #masthead {
    background-image: url("/img/masthead_bg.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 150px 0;
  }
}
@media (min-width: 992px) {
  #masthead {
    padding: 200px 0;
  }
}
@media (min-width: 1200px) {
  #masthead {
    padding: 250px 0;
  }
}
