#masthead {
  color: white;
}
#masthead h1,
#description h1 {
  font-size: 32px;
}
#masthead h2,
#suggestions h2 {
  font-size: 18px;
}
#description {
  padding: 100px 0;
}
@media (max-width: 575px) {
  #masthead h1,
  #description h1 {
    font-size: 20px;
  }
  #masthead h2,
  #suggestions h2 {
    font-size: 16px;
  }
  #description {
    padding: 50px 0;
  }
  .card-title {
    font-size: 20px !important;
  }
  .card-text {
    font-size: 14px !important;
  }
}
@media (max-width: 767px) {
  #masthead {
    color: var(--first-color);
    padding: 100px 0 50px 0;
  }
  .card-title {
    font-size: 24px !important;
  }
  .card-text {
    font-size: 16px !important;
  }
}
@media (min-width: 768px) {
  #masthead {
    background-image: url("/img/masthead_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
  }
}
@media (min-width: 992px) {
  #masthead {
    padding: 200px 0;
  }
}
@media (min-width: 1200px) {
  #masthead {
    padding: 250px 0;
  }
}
