#book-section {
  padding-top: 150px;
}
.book-cover {
  height: 400px;
}
.book-info h1 {
  font-size: 30px;
}
.book-info h2 {
  font-size: 24px;
}
.book-info h3 {
  font-size: 16px;
}

@media (max-width: 576px) {
  img {
    height: 200px !important;
  }
  .book-info h1 {
    font-size: 24px;
  }
  .book-info h2 {
    font-size: 20px;
  }
  .book-info h3 {
    font-size: 16px;
  }
  form {
    text-align: center;
  }
  .col-12 {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  #book-section {
    padding-top: 80px;
  }
}
