#search-bar {
  padding: 100px 0 50px 0;
}
.input-search {
  border-color: var(--first-color);
  color: var(--first-color);
  background-color: white;
  width: 100%;
}
.media {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px;
}
.media img {
  height: 130px;
  margin: 0 10px;
}

.media h1,
.not-found-text {
  font-size: 20px;
  color: var(--first-color);
  margin-bottom: 3px;
}
.media h2 {
  font-size: 18px;
  margin-bottom: 3px;
}
.media h3 {
  font-size: 14px;
  margin-bottom: 3px;
}
@media (max-width: 575px) {
  #search-bar {
    padding: 80px 0 10px 0;
  }
  .media h1,
  .not-found-text {
    font-size: 18px;
    color: var(--first-color);
    margin-bottom: 2px;
  }
  .media h2 {
    font-size: 14px;
    margin-bottom: 2px;
  }
  .media h3 {
    font-size: 11px;
    margin-bottom: 2px;
  }
  .media img {
    height: 120px;
    margin: 0 10px;
  }
}
