.box {
  position: relative;
  height: 300px;
  min-width: 200px !important;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.25rem;
  margin: 15px;
  padding: 15px;
}
.book-thumbnail img {
  height: 150px;
}
.book-description {
  position: absolute;
  left: 15px;
  top: 200px;
  width: 170px;
}
.book-description h3 {
  font-size: 14px;
  color: var(--first-color);
  margin-bottom: 1px;
}
.book-description h4 {
  font-size: 11px;
  color: var(--first-color);
}

@media (max-width: 575px) {
  .book-thumbnail img {
    height: 150px !important;
  }
}
