.error-display {
  text-align: center;
  padding: 0 50px;
}
.error-display img {
  width: 100%;
}
.btn-error {
  margin: 25px 0;
  background: linear-gradient(90deg, #56b9f4 0%, #3b8ae7 100%);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 30px;
}
.btn-error:hover {
  background: linear-gradient(-90deg, #56b9f4 0%, #3b8ae7 100%) !important;
  color: white;
}

@media (min-width: 992px) {
  .error-display img {
    width: 50%;
  }
}
