html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  --first-color: #393939;
  color: var(--first-color);
}
input:focus,
textarea:focus,
select:focus,
button:focus,
a:focus {
  outline: hidden !important;
}
.btn {
  border-radius: 25px;
}
